.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    max-height: 700px;
    margin-left: 35%;
    text-align: left;
    font-size: 15px;
    font-family: "Times New Roman";
}
.card h5
{
    text-align: center  ;
    font-size: 18px;
    margin-top: 10px;
    color: red;
}

* {box-sizing: border-box}
.login {
    padding: 16px;

}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.loginbtn {
    background-color: darkslategray;
    color: white;
    padding: 10px 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}

.loginbtn:hover {
    opacity:1;
}

.login a {
    color: dodgerblue;
    font-weight: lighter;
    font-size: 14px;
}
.login p{
    font-size: 14px;
}
.createacc {
    background-color: #f1f1f1;
    text-align: center;
}