.container{
    background-color: black;
    position: revert;
    width: 100%;
    height: 40px;
}
.container img{
    position: static;
    width: 80px;
    height: 35px;
    margin-left: 47%;
    margin-top: 2px;

}
.social-medialogo {
    position: relative;
    margin-left: 85%;
    margin-top: -43px;
}

.topnav {
    background-color:black;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: white;
    color: black;
    border-radius: 15px;
}
.search-box
{
    margin-left: 40%;
    margin-top: 8px;
}
.search-box input{
    width: 30%;
    height: 25px;
    border-radius: 10px;
    border: none;
}
.search-box button{
    height: 25px;
    background-color: darkslategray;
    color:white;
    border: none;
    border-radius: 10px;
    width:10%;

}
.search-box button:hover{
    background-color: #0c4128;
    position: relative;
    border-radius: 15px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: white;
    margin-left: 27%;
}

.navbar a {
    float: left;
    font-size: 14px;
    color:black;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 25px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color:darkcyan;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: darkslategray;
    min-width: 160px;
    z-index: 1;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color:white;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.acclogo{

    margin-left: 80%;
    margin-top: -30px;
    overflow: hidden;
    background-color:black;
    
}
.acclogo a{
    float: left;
    color: black;
    text-align: center;
    color:white;
    text-decoration: none;
    font-size: 15px;
}
.acclogo a:hover{
    color: #3dd5f3;
}









.logbtn button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
}

.logbtn button:hover {
    opacity:1;
}


.cancelbtn, .deletebtn {
	margin-top:70px;
    float: revert;
    width: 10%;
}

.cancelbtn {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 10px 16px;
    opacity: 0.8;
}
.cancelbtn:hover
{
    opacity: 1;
}


.deletebtn {
    background-color: #f44336;
    border: none;
    padding: 10px 16px;
    opacity: 0.8;
}
.deletebtn:hover
{
    opacity: 1;
}


.logout-container {
    padding: 16px;
    text-align: center;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #474e5d;
    padding-top: 50px;
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 60%;
    height:40%;
}


hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}