.card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 600px;
            margin-left: 1%;
            text-align: left;
            font-size: 15px;
            font-family: "Times New Roman";
            border: 1px solid lightgrey;
            border-radius: 3px;
            margin-top: 40px;
        }
        .card h5
        {
            text-align: center  ;
            font-size: 18px;
            margin-top: 10px;
            color: darkslategray;
        }

        table{
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width:100%;
            font-size: 15px;

        }
        th{
            background-color: lightskyblue;
            color:black;
        }


        td, th {

            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .delete-button{
            background-color: red;
            color: white;
            padding: 6px 14px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }

       .card2
        {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 500px;
            max-height: 700px;
            margin-left: 55%;
            margin-top:-10%;
            text-align: left;
            font-size: 15px;
            font-family: "Times New Roman";
        }
        .card2 h5
        {
            text-align: center  ;
            font-size: 18px;
            margin-top: 10px;
            color: darkslategray;
        }
         body {
            font-family: Arial;
            font-size: 15px;
            padding: 8px;
        }

        * {
            box-sizing: border-box;
        }
        
        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin: 0 -16px;
        }
         .col-50 {
            -ms-flex: 50%;
            flex: 50%;
        }
          .col-75 {
            -ms-flex: 75%;
            flex: 75%;
        }
        
            .col-50,
        .col-75 {
            padding: 0 16px;
        }
          .container3 {
            background-color:white;
            padding: 5px 20px 15px 20px;
            border: 1px solid lightgrey;
            border-radius: 3px;
        }
          input[type=text] {
            width: 100%;
            margin-bottom: 20px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 3px;
            background-color: whitesmoke;
        }
        select{
            width: 100%;
            margin-bottom: 20px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 3px;
            background-color: whitesmoke;
        }

        label {
            margin-bottom: 10px;
            display: block;
            font-size: 14px;
        }			
        .btn {
            background-color: darkcyan;
            color: white;
            padding: 12px;
            margin: 10px 0;
            border: none;
            width: 100%;
            border-radius: 3px;
            cursor: pointer;
            font-size: 17px;
        }

        .btn:hover {
            background-color: darkslategray;
        }

        a {
            color: #2196F3;
        }

        hr {
            border: 1px solid lightgrey;
        }
         @media (max-width: 800px) {
            .row {
                flex-direction: column-reverse;
            }

        }
        
         .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: .25rem;
             text-align: center; 
        }

        .alert-success {
            color: #155724;
            background-color: #d4edda;
            border-color: #c3e6cb;
        }
        
        .alert-danger {
            color: #155724;
            background-color: #eca1a6;
            border-color: #c3e6cb; 
        }